node_modules/
dist/
build/
.next/
.expo/
coverage/
*.log
.env
.env.local
.env.dev
.env.prod
.env.*.local
!.env.example
.DS_Store
Thumbs.db
pgdata/
backend/uploads/
*.sql.bak
mobile/expo-qr.png
web-admin/.next/
**/android/
**/ios/
.idea/
.vscode/
*.pem
*.p12

*.tsbuildinfo
